

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-100);
    background-color: var(--color-800);
    
    > .leftSide {
        display: flex;
        align-items: center;
        gap: 1rem;
        

        > .menuButton {
            width: 56px;
            height: 56px;
            border-style: none;
            background-color: var(--color-700);

            > .openMenuIcon {
                width: 23px;
                height: 14px;
            }

            > .closeMenuIcon {
                width: 18px;
                height: 18px;
            }
        }

        > .logoBox {
            display: none;
        }

        > .divider {
            display: none;
        }

        > .documentBox {
            display: flex;
            align-items: center;
            gap: 1rem;

            > .documentIcon {
                width: 14px;
                height: 16px;
            }

            > .textBox {
                > p {
                    display: none;
                }

                > h2 {
                    align-self: flex-start;
                }
            }
        }
        
        > .logoBox {
            background-color: var(--color-1000);
        }        
    }

    > .rightSide {
        display: flex;
        gap: 1.5rem;

        > .deleteButton {
            border-style: none;
            background-color: transparent;

            > .deleteIcon {
                width: 18px;
                height: 20px;
            }
        }

        > .saveButton {
            width: 40px;
            height: 40px;
            border-style: none;
            border-radius: 4px;
            margin-right: 8px;
            background-color: var(--color-orange);

            > .saveIcon {
                width: 16px;
                height: 16px;
            }

            > p {
                display: none;
            }
        }
    }
}

/* TABLETS */
@media screen and (min-width: 768px) {
    .wrapper {

        > .leftSide {

            > .menuButton {
                width: 72px;
                height: 72px;

                > .openMenuIcon {
                    width: 30px;
                    height: 18px;
                }
            }
            
            > .documentBox {

                > .textBox {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    > p {
                        display: block;
                        color: var(--color-500)
                    }
                }
            }
        }

        > .rightSide {
            
            > .saveButton {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                width: 152px;
                height: 40px;

                > .saveIcon {
                    width: 16px;
                    height: 16px;
                }

                > p {
                    display: block;
                    color: var(--color-100);
                }
            }
        }
    }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
    .wrapper {

        > .leftSide {

            > .logoBox {
                display: block;
                background-color: transparent;
            }
            
            > .divider {
                display: block;
                width: 1px;
                height: 40px;
                background-color: var(--color-600);
            }
        }
    }
}

