

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 29px;
    background-color: var(--color-900);

    > header {
        display: flex;
        flex-direction: column;
        gap: 27px;

        > svg {
            width: 131px;
            height: 18px
        }

        > h2 {
            color: var(--color-500)
        }
    }

    > main {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;

        > .newDocumentButton {
            width: 202px;
            height: 40px;
            border-style: none;
            border-radius: 4px;
            color: var(--color-100);
            background-color: var(--color-orange);

            &:hover {
                background-color: var(--color-orange-hover);
            }
        }

        > .documentListContainer {
            display: flex;
            flex-direction: column;
            gap: 26px;

            > .document {
                display: flex;
                align-items: center;
                gap: 1rem;

                > svg {
                    width: 14px;
                    height: 16px;
                }

                > .textBox {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 3px;

                    > p {
                        color: var(--color-500);
                    }

                    > button {
                        color: var(--color-100);
                        background-color: transparent;
                        border-style: none;

                        &:hover {
                            color: var(--color-orange);
                        }
                    }
                }
            }
        }
    }

    > footer {
        display: flex;
        align-items: center;
        gap: 10px;

        > svg {
            
            &.active {
                
                > path {
                    fill: var(--color-100);
                }
            }
        }
        
        /* Handles theme toggle css styling */
        > .toggleBox {
            position: relative;
            display: flex;
            align-items: center;

            > input[type="checkbox"] {
                width: 48px;
                height: 24px;
                appearance: none;
                border-radius: 14.5px;
                background-color: var(--color-600);
            }

            > span {
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: var(--color-100);
                
            }

            > span.themeLight {
                right: 5px;
            }

            > span.themeDark {
                left: 5px;
            }

        }

    }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
    .wrapper {
        
        > header {

            > .logo {
                display: none;
            }
        }
    }
}